<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kollam Auto Engineering</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KollamAutoEng_web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/Images/logotrans.png" alt="logo"/>
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                            Options
                        </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#">
                                    <a class="nav-link text-light text-center" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </a>
                            </li>
                                <li><a class="dropdown-item" href="#">
                                    <a class="nav-link text-light text-center" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="nav-item">
                                    <a class="nav-link text-light text-center" asp-area="" asp-controller="Staffs" asp-action="Index">Staff</a>
                                </a>
                            </li>
                            <li>
                                <a class="nav-item">
                                    <a class="nav-link text-light text-center" asp-area="" asp-controller="Faults" asp-action="Index">Fault</a>
                                </a>
                            </li>
                            <li>
                                <a class="nav-item">
                                    <a class="nav-link text-light text-center" asp-area="" asp-controller="Models" asp-action="Index">Model</a>
                                </a>
                            </li>
                            </ul>
                        </div>
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>

        <div>
            <main>
            @RenderBody()
            </main>
        </div>
        <div class="container">
        </div>

    <footer class="border-top footer text-dark bottomfooter p-4">
        <div>
            &copy; 2024 - Kollam Auto Engineering - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
