@{
    var isIndexPage = ViewContext.RouteData.Values["controller"]?.ToString() == "Home"
                      && ViewContext.RouteData.Values["action"]?.ToString() == "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KollamAutoEng_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KollamAutoEng_web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/logotrans.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Appointments" asp-action="Index">Appointment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="Index">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Employees" asp-action="Index">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Faults" asp-action="Index">Fault</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="FaultParts" asp-action="Index">Fault Part</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Parts" asp-action="Index">Part</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Payments" asp-action="Index">Payment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="VehicleBrands" asp-action="Index">Vehicle Brand</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="VehicleModels" asp-action="Index">Vehicle Model</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="AppRoles" asp-action="Index">Roles</a>
                            </li>
                        </ul>
                            <partial name="_LoginPartial.cshtml" />
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @if (!isIndexPage)
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <div class="image-container">
            <img src="~/Mainimg.png" class="bigimage">
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
@*         <div class="image-container">
            <img src="~/Mainimg.png" class="bigimage">
        </div> *@
    }

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Kollam Auto Engineering </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a asp-area="" asp-controller="Appointments" asp-action="Index">Appointments</a></li>
                        <li><a asp-area="" asp-controller="Customers" asp-action="Index">Customers</a></li>
                        <li><a asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
                        <li><a asp-area="" asp-controller="Faults" asp-action="Index">Faults</a></li>
                        <li><a asp-area="" asp-controller="FaultParts" asp-action="Index">Fault Parts</a></li>
                        <li><a asp-area="" asp-controller="Parts" asp-action="Index">Parts</a></li>
                        <li><a asp-area="" asp-controller="Payments" asp-action="Index">Payments</a></li>
                        <li><a asp-area="" asp-controller="VehicleBrands" asp-action="Index">Vehicle Brands</a></li>
                        <li><a asp-area="" asp-controller="VehicleModels" asp-action="Index">Vehicle Models</a></li>
                        <li><a asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links2">
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        &copy; 2024 - Kollam Auto Engineering
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="instagram" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
