@model KollamAutoEng_web.Models.VehicleModel

@{
    ViewData["Title"] = "Delete Vehicle Model";
}

<body class="crud-body">
    <div class="view d-flex align-items-center justify-content-center">
        <div class="create-form">
            <h1 class="text-center">Delete Vehicle Model</h1>
            <h3 class="text-center">Are you sure you want to delete this?</h3>
            <hr />
            <div class="details-view">
                <dl class="row">
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.ModelName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ModelName)
                    </dd>
                    <dt class="col-sm-4 text-right">
                        @Html.DisplayNameFor(model => model.VehicleBrand)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.VehicleBrand.BrandName)
                    </dd>
                </dl>
            </div>
            <form asp-action="Delete" class="form-group row">
                <input type="hidden" asp-for="ModelId" />
                <div class="col-sm-6 text-center">
                    <input type="submit" value="Delete" class="btn delete-button btn-danger btn-block" />
                </div>
                <div class="col-sm-6 text-center">
                    <a asp-action="Index" class="back-button btn-block">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</body>
