@model KollamAutoEng_web.Models.Model

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Model</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
