@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div>
        <h2 class="display-3 text-capitalize text-center">Welcome Kollam Auto Engineering</h2>
        <h3>കൊല്ലം ഓട്ടോ എഞ്ചിനീയറിംഗിലേക്ക് സ്വാഗതം</h3>
    </div>
</body>