@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="ml">
<body>
    <div class="text-center">
        <h1 class="display-3">Welcome to Kollam Auto Engineering</h1>
        <h1 class="display-5">കൊല്ലം ഓട്ടോ എഞ്ചിനീയറിംഗ്</h1>
    </div>
        <div id="carouselFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="image1.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="image2.jpg" class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</body>
</html>