@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div>
        <div>
            <img src="~/image4.jpg" class="img w-100">
            <div>
                <h2 class="title">Welcome Kollam Auto Engineering</h2>
                <h3>കൊല്ലം ഓട്ടോ എഞ്ചിനീയറിംഗിലേക്ക് സ്വാഗതം</h3>
            </div>
        </div>
        <div>
            <div>
                <img src="image2.jpg" class=" bigimg w-100">
            </div>
        </div>
    </div>
</body>




