@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div>
        <div>
            <div>
                <img src="~/Images/image2.jpg" class="bigimg w-100" alt="mainimg">
            </div>
            <div class="container">
                <a class="title">Welcome Kollam Auto Engineering</a>
                <a class="title">കൊല്ലം ഓട്ടോ എഞ്ചിനീയറിംഗിലേക്ക് സ്വാഗതം</a>
            </div>
        </div>
        <div>
        </div>
    </div>
</body>




