<!doctype html>
<html lang="ml">
<body>
    <div class="text-center">
        <h1 class="title">Welcome to Kollam Auto Engineering</h1>
        <h1 class="title">കൊല്ലം ഓട്ടോ എഞ്ചിനീയറിംഗ്</h1>
    </div>
</body>
</html>