@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="index">
        <h2 class="display-3 text-capitalize text-center">ABOUT US</h2>
        <p class="intro text-capitalize text-center">Hello and welcome to Kollam Auto Enginnering. 
            We provide Engine Re-Boring, Fuel Engine Assembly, Turbo & CRDI Fuel Pump, Nozzle Calibrations and many other services.
        </p>
    </div>
</body>