html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    background-color: #FDDA0D;
    border: groove;
}

.bigimage {
    background-image: url('../Images/image2.jpg');
}

.logo {
    margin-left: -14px;
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.offcanvas-header {
    background-color: #ffd800;
    color: black;
}

.offcanvas-body {
    font-size: 22px;
    padding: 30px;
    text-align: left;
}

.bottomfooter {
    background-color: #FDDA0D;
    padding: 20px;
    text-align: center;
    width: 100%;
}

